/* Font */
$roboto-regular-medium: 400 14px/30px Roboto, sans-serif;
$roboto-regular-large: 400 21px/30px Roboto, sans-serif;
$roboto-light-medium: 300 14px/30px Roboto, sans-serif;
$roboto-light-xs: 300 9px/11px Roboto, sans-serif;
$font-label: 400 14px/19px Roboto, sans-serif;

/* Color */
$white: #fff;
$blue: #22A4DC;
$light-blue: #7AC8EA;
$link: #888EA7;
$link-active: #313643;
$danger: #E63782;

/* Border */
$border-form: 1px solid #E6ECF5;
$border-input: 2px solid #E6ECF5;
